.column-one {
  width: 60%;
  padding-right: 50px;
}

.column-two {
  width: 35%;
  padding-left: 50px;
}

#leadership {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
}

.person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;
}

img.dp {
  width: 120px;
  height: 120px;
  padding: 5px;
  border: 1px solid #dedede;
  float: left;
  display: inline;
}

.description {
  padding-left: 20px;
  display: inline-block;
}

.column-two .boxComp {
  width: auto;
  height: auto;
  margin-bottom: 30px;
}
