body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
    padding: 30px;
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 5px;
}

h1, h2, h3, h4 {
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0;
}

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2.5em;
}

h2 {
    border-bottom: 1px solid #eee;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

p, ul {
    margin: 15px 0;
}

ul {
    padding-left: 30px;
}
/*Homepage CSS*/
#boxComp {
    padding: 10px;
    width: 20%;
    height: 300px;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow:  -1px 1px gray,
         -2px 2px gray,
         -3px 3px gray,
         -4px 4px gray,
         -5px 5px gray;
}
.head{
  color: red;
  font-weight: bold;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.text{
  margin: 10px;
  color: DimGray;
  text-align: center;

}
