.main-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#leftCol {
  width: 50%;
  border-right: 1px solid #ddd;
  padding-right: 50px;
}

#rightCol {
  width: 50%;
  padding-left: 50px;
}

.events {
  margin-bottom: 30px;
}
